{% if user and user.type != "librarian"%}
            {% if checked %}
                {% if requested_to_return %}
                    You requested to return
                {% else %}
                    <h5> <a href="{{url_for('request_return', copy_id = copy_id)}}">Request to Return</a></h5>
                {% endif %}
            {% elif requested %}
                You requested to check out
            {% elif user.type != "unconfirmed" %}
                {% if can_renew == True %}
                    <p>You renewed once</p>
                    <h5> <a href="{{url_for('request_document', doc_id = document.id)}}">Request</a></h5>
                {% elif can_renew == False %}
                    <p> You renewed twice, cannot renew</p>
                {% else %}
                    <h5> <a href="{{url_for('request_document', doc_id = document.id)}}">Request</a></h5>
                {%endif%}
            {% endif %}
        {%endif%}