{% extends "basic.html" %}

{% block content %}
<p> Type: <b>{{document.type}}</b> </p>
    {% for key, value in document.attributes.items() %}
<p> {{key}} : <b>{{value}}</b></p>
    {% endfor %}


    {% if can_modify == True %}
        <h5> <a href=" {{url_for('edit_document', doc_id = document.id)}}">Edit</a></h5>
    {% elif can_delete %}
        <h5> <a href=" {{url_for('delete_document', doc_id = document.id)}}">Delete</a></h5>
    {% endif %}

    {% if document.type != "reference_book" %}
        <p> Available copies: {{available_copies}}</p>
        {% if can_modify == True %}
             {% if available_copies > 0%}
                <p><a href="{{url_for('delete_copy', origin_id=document.id)}}">Delete 1 copy</a></p>
                <p><a href="{{url_for('delete_copies', origin_id=document.id)}}">Delete all copies</a></p>
            {% endif %}
            {% if is_outstanding_request == False %}
                <p>No outstanding request</p>
            {% else %}
                 <p>Outstanding request is placed</p>
            {% endif %}


            {% if can_place_outstanding_request == True %}
                {% if is_outstanding_request == False %}
                    <p><a href="{{url_for('outstanding_request_on', doc_id=document.id)}}"> Place an outstanding request for a document</a></p>
                {% else %}
                    <p><a href="{{url_for('outstanding_request_off', doc_id=document.id)}}"> Take off outstanding request</a></p>
                {% endif %}
            {% endif %}

            <h5> Users: </h5>
            {% for copy in held_copies %}
                <p> <a href="{{url_for('user', user_id=copy.attributes.user_id)}}"> {{names[loop.index0]}} {{copy.attributes.user_id}}</a>.
                deadline: {{copy.attributes.deadline}}
                <!--overdue: {{overdue_days[loop.index0]}}-->
                <a href="{{url_for('return_document', copy_id = copy['id'])}}"> Return </a></p>
            {%endfor%}
            <h5> Requests: </h5>
            {% for request in priority_queue%}
                <p> <a href="{{url_for('user', user_id=request.attributes.user_id)}}"> {{names_and_types[loop.index0][0]}} {{request.attributes.user_id}}</a>.
                Type: {{names_and_types[loop.index0][1]}}
            {%endfor%}
        {% endif %}

        {% if user and can_modify == False%}
            {% if checked %}
                {% if requested_to_return %}
                    You requested to return
                {% else %}
                    {% if can_renew == True %}
                        <h5> <a href="{{url_for('renew', doc_id = document.id)}}">Renew</a></h5>
                    {% else %}
                        You cannot renew this document (no longer)
                    {% endif %}
                    <h5> <a href="{{url_for('request_return', copy_id = copy_id)}}">Request to Return</a></h5>
                {% endif %}
            {% elif requested %}
                You requested to check out
            {% elif user.type != "unconfirmed" %}
                <h5> <a href="{{url_for('request_document', doc_id = document.id)}}">Request</a></h5>
            {% endif %}
        {%endif%}
    {% endif %}
{% endblock %}