{% extends "basic.html" %}

{% block content %}
<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
        <h5 style="margin-left:15px">Found: {{notifications|length}}.  <a href="{{url_for('delete_all_notifications')}}"> Delete all notifications</a></h5>

    <ul>
    {% for notification in notifications%}
          <p> {{notification.attributes.message}}, date: {{notification.attributes.date}}</li> <a href="{{ url_for('user', user_id=notification.attributes.user_id)}}"> User {{notification.attributes.user_id}}</a> </p>
    {% endfor %}
        </ul>
    </div>


{% endblock %}