{% extends "basic.html" %}

{% block content %}
<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
    <ul class="nav nav-pills flex-column">
        <h5 style="margin-left:15px">Found: {{users|length}}</h5>
        <li class="nav-item" style="margin-left:15px; border: 1.5px solid rgb(100,100,100)"><span class="lists">Login</span>
            <span class="lists">Name</span>
        </li>
    {% for a_user in users%}
        <li style="margin-left:15px; border: 1.5px solid rgb(100,100,100)"><p class="nav-link" ><a class="lists" href="{{ url_for('edit_profile', user_id=a_user.id)}}"> {{a_user.attributes.login}}</a>
            <span class="lists">{{a_user.attributes.name}} <form action="" method="post">
                {{ forms[loop.index0].hidden_tag() }}
                {{forms[loop.index0].student}}
                {{forms[loop.index0].faculty}}
                {{forms[loop.index0].visiting_professor}}
                {% if user.type == "admin" %}
                    {{forms[loop.index0].libr1}}
                    {{forms[loop.index0].libr2}}
                    {{forms[loop.index0].libr3}}
                {% endif %}
                {{forms[loop.index0].decline}}
            </form></span>
             </p>
            </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}