{% extends "basic.html" %}

{% block content %}
    <div><h5> Status: <b>{{ a_user.type }}</b></h5></div>
    <div><h5> Username: <b>{{ a_user.attributes.login }}</b></h5></div>
    <div><h5> Name: <b>{{ a_user.attributes.name}}</b></h5></div>
    <div><h5> Phone-Number: <b>{{ a_user.attributes['phone-number']}}</b></h5></div>
    <div><h5> Address: <b>{{ a_user.attributes.address}}</b></h5></div>
    <div><h5> id: <b>{{ a_user.id}}</b></h5></div>
    <div><h5> Card number: <b>{{ a_user.attributes["card-number"]}}</b></h5></div>
    <h5> <a href=" {{url_for('edit_profile', user_id = a_user.id)}}"> Edit</a></h5>
     <h5> <a href=" {{url_for('change_password', user_id = a_user.id)}}"> Change password</a></h5>
    {%if can_delete == True%}
        <h5> <a href=" {{url_for('delete_user', user_id = a_user.id)}}">Delete</a></h5>
    {%endif%}
    {% if can_check_out_a_user == True %}
        <h5>Holding Documents:</h5>
        {% if documents %}
            {% for name in documents %}
                <p> <a href="{{url_for('document', doc_id=copies[loop.index0].attributes.origin_id)}}"> {{name}}</a>:
                    <span style="margin-left:30px; margin-right:30px">Deadline: {{copies[loop.index0].attributes.deadline}} </span>
                {% if overdues_and_fines[loop.index0][0] > 0 %}
                    Overdue: {{overdues_and_fines[loop.index0][0]}}.
                    fines: {{overdues_and_fines[loop.index0][1]}}
                {% else %}
                    {% set over = -overdues_and_fines[loop.index0][0]%}
                    {{over}} day(s) left
                {% endif %}
                </p>
            {%endfor%}
        {%endif%}
        <p>Total fine: {{total_fine}}</p>
        <br>
        <h5>Notifications:</h5>
        {% for notification in notifications%}
            <p>{{notification.attributes.message}}</span></p>
        {% endfor %}
    {%endif%}
{% endblock %}