{% extends "basic.html" %}

{% block content %}
<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
    <ul class="nav nav-pills flex-column">
    {% for user in users%}
        <li class="nav-item" style="margin-left:30px; border: 1.5px solid rgb(100,100,100)"><p class="nav-link" ><a style="width:15%; float:left" href="{{ url_for('user', user_id=user.id)}}"> {{user.attributes.login}}</a> {{user.attributes.name}}</p></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}